h4 Esciba su email y el mensaje
form(onsubmit="return send()" )
    input#email(type="email" max-length="20" placeholder="EMAIL")
    input#message(type="text" placeholder="MENSAJE")
    input(type="submit" value="ENVIAR")

#messages
script(src="jquery/dist/jquery.min.js")
script(src="javascripts/validation.js")
