h4 Ejecutar liena a linea los siguientes comandos

|sudo apt-get purge firefox
br
|wget http://ftp.mozilla.org/pub/firefox/releases/49.0/linux-$(uname -m)/en-US/firefox-49.0.tar.bz2
br
|tar -xjf firefox-49.0.tar.bz2
br
|sudo mv firefox /opt/
br
|sudo mv /usr/bin/firefox /usr/bin/firefox_old
br
|sudo ln -s /opt/firefox/firefox /usr/bin/firefox

h3 Apagar la tarjeta de red del computador

